
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  @media (max-width: 768px) {
    .container {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
}

.form-container {
  background: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  max-width: 900px;
  margin: auto;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.header-right h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
  font-size: 23px;
  margin: 0;
  color: #022F66;
  font-weight: 700;
}

.header-right h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
  font-size: 18px;
  margin: 5px 0 0;
  color: #555;
  font-weight: 200;
}

.row-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 45%;
  @media (max-width: 768px) {
    .form-section {
      min-width: 100%; 
    }
  }
}

.two-columns {
  display: flex;
  gap: 10px;
}

.error-message {
  color: red;
  font-size: 0.85em;
  margin-top: 5px;
  min-height: 1em;
  display: block;
}

.required {
  color: red;
  font-weight: bold;
}

.char-counter {
  font-size: 0.85em;
  color: #554d4d;
  margin-top: 5px;
  text-align: right;
}

